# Node modules
/node_modules/

# Vite
/.vite/
.vite/

# Tailwind CSS
*.css.map
postcss.config.js
tailwind.config.js

# TypeScript
/tsconfig.tsbuildinfo
/dist/

# Logs
*.log
*.log.*

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# npm and Yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local

# Build output
/build/

# TypeScript declaration files
*.d.ts
